version: "3.8"

services:
  identity:
    build:
      context: ./identity-service
    container_name: tixgo-identity
    env_file:
      - .env
    ports:
      - "18081:8000" # expose Identity Service on host port 18081
    restart: unless-stopped
    networks:
      - tixgo-net

  attendance:
    build:
      context: ./attendance-service
    container_name: tixgo-attendance
    env_file:
      - .env
    ports:
      - "18082:8000" # expose Attendance Service on host port 18082
    restart: unless-stopped
    networks:
      - tixgo-net

  event:
    build:
      context: ./event-service
    container_name: tixgo-event
    env_file:
      - .env
    environment:
      - IDENTITY_BASE_URL=http://identity:8000     # internal URL for Identity Service (Docker network)
      - ATTENDANCE_BASE_URL=http://attendance:8000 # internal URL for Attendance Service (Docker network)
    ports:
      - "18083:8000" # expose Event Management Service on host port 18083
    restart: unless-stopped
    networks:
      - tixgo-net

networks:
  tixgo-net:
    driver: bridge